body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("/bg.png");
  background-size: cover;
  background-position: center;
}

.login-card {
  background-color: #fff;
  padding: 55px 30px;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  font-family: cursive;
  font-weight: bold;
  background-color: rgba(128, 128, 128, 0.5);
}

h2 {
  color: white;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  /* border: 2px solid #ccc; */
  border-radius: 4px;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.5);
}

.input-container i {
  color: #007bff;
  font-size: 18px;
  margin-right: 10px;
}

.input-container input {
  border: none;
  outline: none;
  width: 100%;
  font-weight: bold;
  background: none;
}

.input-container input::placeholder {
  color: white; /* Change the color to your desired color */
}

.login-button {
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  font-weight: bold;
  background-color: rgba(128, 128, 128, 0.5);
}

.social-login {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.facebook-button,
.google-button {
  background-color: rgba(128, 128, 128, 0.5);
  color: #333;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 14px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 140px;
  font-weight: bold;
  color: white;
}

.facebook-button i,
.google-button i {
  margin-right: 10px;
}
